*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

/*
background-color: black;

#0F766E

*/

.Content {
    background-image: radial-gradient(circle 700px at top, #0F766E, black);
    /*background: radial-gradient(circle, lch(79 33 356) 20%, lch(82 28 253) 100%);*/

}


.Page1 {
    width: 100%;
    min-height: 100vh; 
}
/*
.Page2 {
    width: 100%;
    min-height: 100vh;
}

.Page3 {
    width: 100%;
    min-height: 100vh;
}

.Page4 {
    width: 100%;
    min-height: 100vh;
}
*/

ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  li {
    list-style: none;
    a {
      position: relative;
      display: block;
      text-transform: uppercase;
      margin: 20px 0;
      padding: 10px 20px;
      text-decoration: none;
      color: #262626;
      font-family: sans-serif;
      font-size: 18px;
      font-weight: 600;
      transition: .5s;
      z-index: 1;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px solid #262626;
        border-bottom: 2px solid #262626;
        transform: scaleY(2);
        opacity: 0;
        transition: .3s;
      }
      &:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #262626;
        transform: scale(0);
        opacity: 0;
        transition: .3s;
        z-index: -1;
      }
      &:hover {
        color: #fff;
        &:before {
          transform: scaleY(1);
          opacity: 1;
        }
        &:after {
          transform: scaleY(1);
          opacity: 1;
        }
      }
    }
  }
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

.link_page_2{
    color: #61dafb; 
    font-family: 'Inter', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    top: 30vh;
    right: 50vw;
}


.title {
    color: #61dafb; 
    font-family: 'Inter', Arial, sans-serif;
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    top: 10vh;
    right: 50vw;
}
/*fixed position means that the elemnts don't move  */

.background-video {
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    /*border: 20px solid red !important;*/
}